@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #666;
    padding: 10px;
    font-size: 35px;
    color: white;
    width: 100;
    margin: 0;
  }

  #headerbutton {
    background-color:#666;
    color: white;
    border: 0;
    font-size:20px;
    padding:10px;
  }

  h1 {
    text-align:center;
  }

  #grid-container {  

    display: grid;
    grid-template-columns: 33% 34% 33%;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    text-align:left;

  }

  label {width:50%;}

  input {
    width: 50%;
    float:right;
  }

  button {width:100%;}

  #grid-container > div { padding:5px; text-align:left;min-width:100%;}

  #grid-a { grid-row:1/2; grid-column:1/4; }

  #grid-b { grid-row:2/3; grid-column:1/4;}

  #grid-c { grid-row:3/4; grid-column:1/4;}

  #grid-d { grid-row:4/5; grid-column:1/4;}

  #grid-e { grid-row:5/6; grid-column:1/4;}

  #grid-f { grid-row:6/7; grid-column:1/4;}

  #grid-g {grid-row:7/8; grid-column:1/4;}

  #grid-h {grid-row:8/9; grid-column:2/3;}

  #grid-i {grid-row:9/10; grid-column:1/4;}

  #grid-j {grid-row:10/11; grid-column:1/4;}

  #grid-k {grid-row:11/12; grid-column:2/3;}